{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>price</th>
                <th>Date/Time</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction["type"] }}</td>
                    <td>{{ transaction["stockSymbol"] }}</td>
                    <td>{{ transaction["shares"] }}</td>
                    <td>{{ transaction["price"] | usd }}</td>
                    <td>{{ transaction["dateTime"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
