{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock["symbol"] }}</td>
                    <td>{{ stock["COUNT(shares)"] }}</td>
                    <td>{{ stock["stockprice"] }}</td>
                    <td>{{ stock["SUM(price)"] }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <th>Cash</th>
                <td>{{ balance }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th>Total</th>
                <td>{{ balance + total }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
